[Desktop Entry]
Type=Application
Name=Walper
Exec=$HOME/.local/bin/walper
Icon=preferences-desktop-wallpaper
Categories=Utility;Graphics;
Terminal=false
StartupNotify=false
